.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  .container {
    max-width: 954px;
  }
}
